.Header {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    position: relative;
    background-color: white;
}

.header-item {
    margin-left: 10px;
    color: white;
}

.kasaz-logo {
    height: 40px;
}

